<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width,initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <title>{% block title %}aminuteaday{% endblock %}</title>
  <link rel="icon" href="{{ url_for('static', filename='images/favicon.png') }}">
  <!-- Chart.js -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

  <!-- CSS -->
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
</head>
<body>
  <nav class="navbar">
    <div class="nav-left">aminuteaday</div>
    <div class="nav-right">
      <a href="{{ url_for('dashboard') }}">home</a>
      <a href="{{ url_for('logs') }}">logs</a>
      <a href="{{ url_for('stats') }}">stats</a>
      <form method="POST" action="{{ url_for('logout') }}" style="margin:0;">
        <button type="submit" class="nav-btn">log out</button>
      </form>
    </div>
  </nav>

  <div class="container">
    {% block content %}{% endblock %}
  </div>

  <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>
